########################################
# Useful Macros                        #Maurer
########################################

[gcode_shell_command Klipper_Backup]
command: sh /usr/data/helper-script/files/scripts/useful_macros.sh -backup_klipper
timeout: 600.0
verbose: true

[gcode_shell_command Klipper_Restore]
command: sh /usr/data/helper-script/files/scripts/useful_macros.sh -restore_klipper
timeout: 600.0
verbose: true

[gcode_shell_command Moonraker_Backup]
command: sh /usr/data/helper-script/files/scripts/useful_macros.sh -backup_moonraker
timeout: 600.0
verbose: true

[gcode_shell_command Moonraker_Restore]
command: sh /usr/data/helper-script/files/scripts/useful_macros.sh -restore_moonraker
timeout: 600.0
verbose: true

[gcode_shell_command Reload_Camera]
command: sh /usr/data/helper-script/files/scripts/useful_macros.sh -reload_camera
timeout: 600.0
verbose: true


[gcode_macro _KLIPPER_BACKUP]
gcode:
  RUN_SHELL_COMMAND CMD=Klipper_Backup
  RESPOND TYPE=command MSG="action:prompt_end"


[gcode_macro _KLIPPER_RESTORE]
gcode:
  RUN_SHELL_COMMAND CMD=Klipper_Restore
  RESPOND TYPE=command MSG="action:prompt_end"


[gcode_macro _MOONRAKER_BACKUP]
gcode:
  RUN_SHELL_COMMAND CMD=Moonraker_Backup
  RESPOND TYPE=command MSG="action:prompt_end"


[gcode_macro _MOONRAKER_RESTORE]
gcode:
  RUN_SHELL_COMMAND CMD=Moonraker_Restore
  RESPOND TYPE=command MSG="action:prompt_end"


[gcode_macro KLIPPER_BACKUP_CONFIG]
description: Backup Klipper configuration files
gcode:
  RESPOND TYPE=command MSG="action:prompt_begin Backup Klipper configuration files"
  RESPOND TYPE=command MSG="action:prompt_text Do you want to backup Klipper configuration files?"
  RESPOND TYPE=command MSG="action:prompt_footer_button CANCEL|RESPOND TYPE=command MSG="action:prompt_end"|error"
  RESPOND TYPE=command MSG="action:prompt_footer_button BACKUP|_KLIPPER_BACKUP|primary"
  RESPOND TYPE=command MSG="action:prompt_show"


[gcode_macro KLIPPER_RESTORE_CONFIG]
description: Restore Klipper configuration files
gcode:
  RESPOND TYPE=command MSG="action:prompt_begin Restore Klipper configuration files"
  RESPOND TYPE=command MSG="action:prompt_text Do you want to restore Klipper configuration files?"
  RESPOND TYPE=command MSG="action:prompt_footer_button CANCEL|RESPOND TYPE=command MSG="action:prompt_end"|error"
  RESPOND TYPE=command MSG="action:prompt_footer_button RESTORE|_KLIPPER_RESTORE|primary"
  RESPOND TYPE=command MSG="action:prompt_show"


[gcode_macro MOONRAKER_BACKUP_DATABASE]
description: Backup Moonraker database
gcode:
  RESPOND TYPE=command MSG="action:prompt_begin Backup Moonraker database"
  RESPOND TYPE=command MSG="action:prompt_text Do you want to backup Moonraker database?"
  RESPOND TYPE=command MSG="action:prompt_footer_button CANCEL|RESPOND TYPE=command MSG="action:prompt_end"|error"
  RESPOND TYPE=command MSG="action:prompt_footer_button BACKUP|_MOONRAKER_BACKUP|primary"
  RESPOND TYPE=command MSG="action:prompt_show"


[gcode_macro MOONRAKER_RESTORE_DATABASE]
description: Restore Moonraker database
gcode:
  RESPOND TYPE=command MSG="action:prompt_begin Restore Moonraker database"
  RESPOND TYPE=command MSG="action:prompt_text Do you want to restore Moonraker database?"
  RESPOND TYPE=command MSG="action:prompt_footer_button CANCEL|RESPOND TYPE=command MSG="action:prompt_end"|error"
  RESPOND TYPE=command MSG="action:prompt_footer_button RESTORE|_MOONRAKER_RESTORE|primary"
  RESPOND TYPE=command MSG="action:prompt_show"


[gcode_macro RELOAD_CAMERA]
description: Reload camera service
gcode:
  RUN_SHELL_COMMAND CMD=Reload_Camera
